.button {
  padding-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button a {
  text-decoration: none;
  font-family: Sora-Regular;
  font-size: 18px;
  color: #000000;
  letter-spacing: -0px;
  text-align: center;
}
