.contact-footer {
  font-family: Sora-Regular;
  font-size: 20px;
  color: #5c5c5c;
  letter-spacing: 0.42px;
  text-align: center;
}

.contact-button {
  padding-top: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  font-family: StingerVariable-Regular;
  font-size: 19px;
  color: #000000;
  letter-spacing: -0px;
  line-height: 58px;
  margin-bottom: 50px;
}

.contact-button a {
  text-decoration: none;
  font-family: Sora-Regular;
  font-size: 18px;
  color: #000000;
  letter-spacing: -0px;
  text-align: center;
}
