.header-title {
  font-family: StingerVariable-Bold;
  font-size: 69px;
  color: #ffffff;
  letter-spacing: -0.02px;
  text-align: center;
  line-height: 58px;
  text-shadow: 0 7px 9px rgba(0, 0, 0, 0.13);
}

.header-text {
  font-family: Sora-Regular_Bold;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 0.59px;
  text-align: center;
  line-height: 37px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  font-weight: 100;
}
