// .logo-media {
//   display: flex;
//   flex-direction: row;
//   padding: 0 30px 30px;
// }

.social img {
  width: 2px;
  height: 2px;
}

// .media-icon:last-child img {
//   margin-right: 0;
// }

.footer-copyright {
  display: flex;
  justify-content: flex-end;
  font-family: sora;
  font-size: 17px;
  color: #9b9b9b;
  letter-spacing: 0.36px;
  text-align: justify;
}

.footer-confidential {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Sora-Regular;
  font-size: 17px;
  color: #9b9b9b;
  letter-spacing: 0.36px;
  text-align: justify;
}
