.text-event {
  font-family: StingerVariable-Bold;
  font-size: 26px;
  color: #000000;
  letter-spacing: -0.01px;
  line-height: 31px;
  position: relative;
  top: -80;
  left: 0;
}

.text-expo {
  font-family: StingerVariable-Bold;
  font-size: 26px;
  color: #000000;
  letter-spacing: -0.01px;
  line-height: 31px;
  position: relative;
}
