.text-event {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #6a6969;
  letter-spacing: -0.31px;
  line-height: 35px;
  padding-bottom: 50px;
  //   position: relative;
  //   top: -300;
  //   left: 20;
}

.text-expo {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #6a6969;
  letter-spacing: -0.31px;
  line-height: 35px;
  padding-bottom: 50px;
  //   top: -300;
  //   left: 20;
}
