// // .l-overlay {
// //   position: absolute;
// //   top: 50%;
// //   left: 50%;
// //   transform: translate(-50%, -50%);
// //   text-align: center;
// //   color: white;
// }

.l-header-bg {
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

// .l-info {
//   height: 731px;
//   padding: 90px 0;
//   background-color: #f4f3f3;
// }

// .info-wrapper {
//   display: flex;
//   align-items: center;
// }
